@font-face { 
    font-family: 'VolvoWebNovum'; 
    src: url('Volvo Novum-Regular.eot'); /* IE9 */ 
    src: url('Volvo Novum-Regular.eot') format('embedded-opentype'),	/*	IE6-IE8	*/ 
    url('Volvo Novum-Regular.woff') format('woff');		/*	Modern	Browsers	*/ 
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'VolvoWebNovum-Medium'; 
    src: url('Volvo Novum-Medium.eot'); /* IE9 */ 
    src: url('Volvo Novum-Medium.eot') format('embedded-opentype'),	/*	IE6-IE8	*/ 
    url('Volvo Novum-Regular.woff') format('woff');		/*	Modern	Browsers	*/ 
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'VolvoWebNovum-Bold'; 
    src: url('Volvo Novum-Bold.eot'); /* IE9 */ 
    src: url('Volvo Novum-Bold.eot') format('embedded-opentype'),	/*	IE6-IE8	*/ 
    url('Volvo Novum-Bold.woff') format('woff');		/*	Modern	Browsers	*/ 
    font-weight: 400;
    font-style: bold;
}
